@import 'tailwindcss';

body {
  font-family: var(--font-body);
  background-color: var(--color-primary-50);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* tab 가로 스크롤 스타일 숨김 */
.scrollbar-hide-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide-y {
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* 웹킷 기반 브라우저에서 스크롤바 숨기기 */
.scrollbar-hide-x::-webkit-scrollbar,
.scrollbar-hide-y::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.h-dvh {
  height: 100vh;
  height: 100dvh;
}

.min-h-dvh {
  min-height: 100vh;
  min-height: 100dvh;
}

.max-h-dvh {
  max-height: 100vh;
  max-height: 100dvh;
}

.min-h-fill {
  min-height: -webkit-fill-available;
  min-height: stretch;
}

.grid-main-nav {
  grid-template-rows: 1fr auto;
}

.grid-header-main-nav {
  grid-template-rows: auto 1fr auto;
}

.scroll-touch {
  -webkit-overflow-scrolling: touch;
}

.overscroll-contain {
  overscroll-behavior: contain;
}

@supports (padding: env(safe-area-inset-bottom)) {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@theme {
  /* Primary Colors */
  --color-primary-50: #edf0ff;
  --color-primary-100: #dde4ff;
  --color-primary-200: #c2ccfe;
  --color-primary-300: #9dabff;
  --color-primary-500: #5758fe;
  --color-primary-600: #4238f1;
  --color-primary-700: #372ecf;
  --color-primary-950: #16214a;

  /* Success Colors */
  --color-success-50: #f0fdfa;
  --color-success-500: #00bba7;
  --color-success-600: #008b7e;

  /* Danger Colors */
  --color-danger-50: #fff2ef;
  --color-danger-70: #ffeff0;
  --color-danger-100: #ffe6e0;
  --color-danger-500: #ff4c00;
  --color-danger-600: #ec3300;
  --color-danger-700: #c73500;

  /* Neutral Colors */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a1a1a1;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-900: #171717;

  /* Font Family */
  --font-heading:
    var(--font-pretendard), 'Pretendard Variable', Pretendard, system-ui, 'Apple SD Gothic Neo',
    'Malgun Gothic', sans-serif;
  --font-body:
    var(--font-pretendard), 'Pretendard Variable', Pretendard, system-ui, 'Apple SD Gothic Neo',
    'Malgun Gothic', sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font Sizes */
  --text-h3: 1.5rem;
  /* 24px */
  --text-h4: 1.25rem;
  /* 20px */
  --text-xl: 1.25rem;
  /* 20px */
  --text-lg: 1.125rem;
  /* 18px */
  --text-base: 1rem;
  /* 16px */
  --text-sm: 0.875rem;
  /* 14px */
  --text-min: 0.75rem;
  /* 12px */

  /* Line Heights */
  --line-height-h2: 2.375rem;
  /* 38px */
  --line-height-h3: 1.5rem;
  /* 24px */
  --line-height-h4: 1.25rem;
  /* 20px */
  --line-height-xl: auto;
  /* Auto */
  --line-height-lg: auto;
  /* Auto */
  --line-height-base: 1.375rem;
  /* 22px */
  --line-height-sm: 1.25rem;
  /* 20px */
  --line-height-min: auto;
  /* Auto */

  /* box-shadow */
  --shadow-nav:
    0px -83px 23px 0px rgba(203, 195, 195, 0), 0px -53px 21px 0px rgba(203, 195, 195, 0.01),
    0px -30px 18px 0px rgba(203, 195, 195, 0.05), 0px -13px 13px 0px rgba(203, 195, 195, 0.09),
    0px -3px 7px 0px rgba(203, 195, 195, 0.1);

  --shadow-md: inset 0 60px 25px -17px rgba(0, 0, 0, 0.1);
}